# 1. Blocks scripts from running automatically during installation
ignore-scripts=true

# 2. Only installs packages that have been online for at least 7 days 
# (This completely dodges "fresh" zero-day hacks before they get deleted!)
min-release-age=7