langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo_search==5.3.1b1
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
langchain==0.1.16
fastapi
uvicorn[standard]
sqlalchemy
asyncpg
python-multipart
pydantic
pydantic-settings
python-dotenv
imagekitio
aiofiles
tf_keras
sentence-transformers
python-multipart
python-jose[cryptography]
passlib[bcrypt]
psycopg2-binary
pyjwt
pydantic[email]
bcrypt==4.0.1
bcrypt